<div class="post_header">
  <div class="left_header">
    <div class="header_title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right_header">
    <div class="header_button">
      <%= link_to "新規投稿", "/rooms/#{@room.id}/posts/new", method: :get %>
      <%= link_to "ルーム削除", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="posts">
  <%= render partial: "post", collection: @posts %>
</div>

