<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page_heading">新規投稿</h2>
        <%= render partial: "form", locals: { post: @post } %>
    </div>
    <%= link_to "チャットページに戻る", :back, class: 'root_btn'%>
  </div>
</div>
